Venv
__pycache__
#coderunners
**/tempCodeRunnerFile.python
**/tempCodeRunnerFile.py

#subfolders excludes subcontents from vscode 
.vscode/*
!.vscode/settings.json
ocr_models/*

#Trails->
Testing
Libraries_&_testing